<html>
    <head><title>blog website</title></head>
    <link rel="stylesheet" href="/css/home.css">
    <body>
        <div id="navpannel">
            <h1>DAILY JOURNAL</h1>
            <div id="pannel">
                <a href="/">HOME</a>
                <a href="/about">ABOUT US</a>
                <a href="/contact-us">CONTACT US</a>
            </div>
        </div>
        
